body {
    color: rgb(44, 75, 111);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.35em;
    background-color:rgb(162, 195, 202);
    background-image: url(./images/img1.jpg);
    /* background-size: 25%; */
    padding: 20px;
}

h1{
    font-size: 90px;
    text-Align: center;
    }


.pageWrapper{
    border: 10px dashed rgb(44, 75, 111);
    padding: 150px;
}

article{
    border: 2px solid rgb(44, 75, 111);
    padding: 1em;
    margin: 0px auto 2em auto;
    margin-bottom: 2em;
    background-color: rgba(149, 184, 192, 0.194);
    /* max-width: 100ch; */
}

#p5Wrapper{
    /* position: fixed; */
    inset: 0;
    pointer-events: none;

}

/* #p5ShowerWrapper{
    position: absolute;
    inset: 0;
    pointer-events: none;
} */

.gridWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

/* .gridWrapper > div{
    border: 1px solid red;
} */

.gridWrapper > div > img{
    /* border: 10px solid green; */
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.toTopWrapper{
    position: fixed;
    bottom: 0px;
    right: 0px;
}